@model AuthorModel

<div class="row my-5 py-5">
    <div class="col-lg-3 me-4">
        <img class="img-fluid w-100" src="~/images/authors/@Model.ImageUrl" />
    </div>
    <div class="col-lg-5">
        <h4 class="display-6 fs-1 fw-normal text-danger">@Model.Name</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item ">
                Doğum Tarihi : @Model.BirthDate.ToShortDateString()
            </li>
            <li class="list-group-item">
                Cinsiyet : @(Model.Gender=="E" ? "Erkek":"Kadın")
            </li>
        </ul>
    </div>
    <div class="col-lg-3 my-0">
        <h6>Yazarın Kitapları</h6>
        @foreach (var book in Model.Books)
        {
            <a 
           asp-area=""
           asp-controller="Home"
           asp-action="BookDetails"
           asp-route-url="@book.Url"
               class="display-6 fs-6 fw-normal  btn btn-outline-danger m-2">
                Kitap Adı : @book.Name
            </a>
        }
    </div>
    <div class="col-md-8 mt-5">
        <h4 class="display-6 fs-4 fw-normal text-danger">Hakkında</h4>
        <p class="fw-normal fs-6">
            @Model.About
        </p>
    </div>
</div>